Google------> Statsmodels python Documentation


Statistics
1. Descriptive Statistics  ----> Describe data in terms of (Mean, Median, Mode, Standard Deviation, Variance, quariles, Percentiles, Min, Max, Count (Power BI)

2. Inferential Statistics------> Infer the data (Unclear Form), Perdictions-----Artificial Intelligence, Machine Learning

There are two types of Perdictions

1. Classification------> True, False, Yes, no
2. Regression---------> Dependent Variable (Continuous Number)---->Price Prediction, Age, Weight, Speed


# Regression

In [3]:
import statsmodels.api as sm
import pandas as pd

In [5]:
sales_table= pd.read_excel(r'C:\Users\fast.LAB6-PC4\Desktop\Adventure Works 2020 (1).xlsx', sheet_name= 'Sales')

In [6]:
sales_table

,OrderDate,OrderDate Key,ProductKey,CustomerKey,SalesTerritoryKey,SalesOrderNumber,ShipDate,SalesOrderLineNumber,OrderQuantity,UnitPrice,ExtendedAmount,UnitPriceDiscountPct,DiscountAmount,ProductStandardCost,TotalProductCost,SalesAmount,TaxAmt,Freight,RegionMonthID
0,2016-07-01,20160701,336,14501,4,SO43700,2016-07-08,1,1,699.0982,699.0982,0,0,413.1463,413.1463,699.0982,55.9279,17.4775,Southwest7
1,2016-07-01,20160701,346,25863,1,SO43699,2016-07-08,1,1,3399.9900,3399.9900,0,0,1912.1544,1912.1544,3399.9900,271.9992,84.9998,Northwest7
2,2016-07-01,20160701,346,28389,7,SO43698,2016-07-08,1,1,3399.9900,3399.9900,0,0,1912.1544,1912.1544,3399.9900,271.9992,84.9998,France7
3,2016-07-01,20160701,310,21768,6,SO43697,2016-07-08,1,1,3578.2700,3578.2700,0,0,2171.2942,2171.2942,3578.2700,286.2616,89.4568,Canada7
4,2016-07-01,20160701,346,11003,9,SO43701,2016-07-08,1,1,3399.9900,3399.9900,0,0,1912.1544,1912.1544,3399.9900,271.9992,84.9998,Australia7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60393,2019-07-31,20190731,530,16402,10,SO75116,2019-08-07,1,1,4.9900,4.9900,0,0,1.8663,1.8663,4.9900,0.3992,0.1248,United Kingdom7
60394,2019-07-31,20190731,530,18178,10,SO75117,2019-08-07,1,1,4.9900,4.9900,0,0,1.8663,1.8663,4.9900,0.3992,0.1248,United Kingdom7
60395,2019-07-31,20190731,467,18178,10,SO75117,2019-08-07,2,1,24.4900,24.4900,0,0,9.1593,9.1593,24.4900,1.9592,0.6123,United Kingdom7
60396,2019-07-31,20190731,477,18529,5,SO75103,2019-08-07,1,1,4.9900,4.9900,0,0,1.8663,1.8663,4.9900,0.3992,0.1248,Southeast7
60397,2019-07-31,20190731,217,18529,5,SO75103,2019-08-07,2,1,34.9900,34.9900,0,0,13.0863,13.0863,34.9900,2.7992,0.8748,Southeast7

In [7]:
sales_table.columns

Index(['OrderDate', 'OrderDate Key', 'ProductKey', 'CustomerKey',
       'SalesTerritoryKey', 'SalesOrderNumber', 'ShipDate',
       'SalesOrderLineNumber', 'OrderQuantity', 'UnitPrice', 'ExtendedAmount',
       'UnitPriceDiscountPct', 'DiscountAmount', 'ProductStandardCost',
       'TotalProductCost', 'SalesAmount', 'TaxAmt', 'Freight',
       'RegionMonthID'],
      dtype='object')

In [8]:
### Dependent Variable---------> Sales Amount
### Independent Variable-------> TotalProductCost, OrderQuantity, TaxAmt, SalesTerritory, UnitPrice

In [9]:
dependent_variable=sales_table['SalesAmount']
independent_variable=sales_table[['TotalProductCost', 'OrderQuantity', 'TaxAmt','SalesTerritoryKey','UnitPrice']]

In [10]:
dependent_variable

0         699.0982
1        3399.9900
2        3399.9900
3        3578.2700
4        3399.9900
           ...
60393       4.9900
60394       4.9900
60395      24.4900
60396       4.9900
60397      34.9900
Name: SalesAmount, Length: 60398, dtype: float64

In [11]:
independent_variable

       TotalProductCost  OrderQuantity    TaxAmt  SalesTerritoryKey  UnitPrice
0              413.1463              1   55.9279                  4   699.0982
1             1912.1544              1  271.9992                  1  3399.9900
2             1912.1544              1  271.9992                  7  3399.9900
3             2171.2942              1  286.2616                  6  3578.2700
4             1912.1544              1  271.9992                  9  3399.9900
...                 ...            ...       ...                ...        ...
60393            1.8663              1    0.3992                 10     4.9900
60394            1.8663              1    0.3992                 10     4.9900
60395            9.1593              1    1.9592                 10    24.4900
60396            1.8663              1    0.3992                  5     4.9900
60397           13.0863              1    2.7992                  5    34.9900

[60398 rows x 5 columns]

In [15]:
# Multiple linear Regression

In [14]:
regression_model=sm.OLS(dependent_variable,independent_variable)
results=regression_model.fit()
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:            SalesAmount   R-squared:                       1.000
Model:                            OLS   Adj. R-squared:                  1.000
Method:                 Least Squares   F-statistic:                 5.714e+20
Date:                Sun, 05 Jun 2022   Prob (F-statistic):               0.00
Time:                        17:49:13   Log-Likelihood:             6.5433e+05
No. Observations:               60398   AIC:                        -1.309e+06
Df Residuals:                   60393   BIC:                        -1.309e+06
Df Model:                           4
Covariance Type:            nonrobust
=====================================================================================
                        coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------
TotalProductCost   4.441e-16   5.74e-10   7.74e-07      1.000   -1.12e-09    1.12e-09
OrderQuantity      3.553e-13    4.6e-08   7.73e-06      1.000   -9.01e-08    9.01e-08
TaxAmt            -5.402e-08      0.004  -1.49e-05      1.000      -0.007       0.007
SalesTerritoryKey  1.377e-14   6.58e-09   2.09e-06      1.000   -1.29e-08    1.29e-08
UnitPrice             1.0000      0.000   3438.728      0.000       0.999       1.001
==============================================================================
Omnibus:                    20631.738   Durbin-Watson:                   0.463
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            53294.689
Skew:                           1.927   Prob(JB):                         0.00
Kurtosis:                       5.513   Cond. No.                     2.29e+08
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.29e+08. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [17]:
# Interpretation 

#P value should be less than 0.05
#P value of Unit Price is less than 0.05 ------>

#- ve relations More tax amount less Sales Amount
#               Less Tax Amount More Sales Amount

In [19]:
# Important website
#. Kaggle.com
#. Github.com